[Unit]
Description=lunar bot
After=network.target
After=redis-server.service
After=postgresql.service

[Service]
Type=simple
User=USER
WorkingDirectory=HOME/lunar-bot
EnvironmentFile=HOME/lunar-bot/.env
StandardOutput=append:HOME/lunar-bot/logs/lunar-bot-out.log
StandardError=append:HOME/lunar-bot/logs/lunar-bot-error.log
ExecStartPre=-HOME/lunar-bot/scripts/save_commit.sh
ExecStart=NODE HOME/lunar-bot
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
