[Unit]
Description=lunar bot
After=network.target
After=redis-server.service
After=postgresql.service

[Service]
Type=notify
NotifyAccess=all
User=USER
WorkingDirectory=BOT_ROOT
EnvironmentFile=BOT_ROOT/.env
StandardOutput=append:BOT_ROOT/logs/lunar-bot-out.log
StandardError=append:BOT_ROOT/logs/lunar-bot-error.log
ExecStartPre=BOT_ROOT/scripts/pre_start.sh
ExecStartPost=BOT_ROOT/scripts/post_start.sh
ExecStart=NODE BOT_ROOT
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
