name: Cleanup yarn caches

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

      - name: Cleanup caches
        uses: ./.github/actions/delete-actions-cache
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          filter: 'yarn- ${{ runner.os }}-yarn-'
