name: Cleanup branch caches

on:
  pull_request:
    types:
      - closed

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Cleanup caches
        uses: ./.github/actions/delete-actions-cache
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          branch: refs/pull/${{ github.event.number }}/merge
