name: Cleanup yarn caches

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

      - name: Cleanup
        run: |
          gh extension install actions/gh-actions-cache

          REPO=$
          BRANCH=$

          echo "Fetching list of cache key"
          cacheKeysForPR=$(gh actions-cache list -L 100 --key yarn -R $REPO -B $BRANCH | cut -f 1 )

          # setting this to not fail the workflow while deleting cache keys
          set +e
          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR; do
              gh actions-cache delete $cacheKey -R $REPO -B $BRANCH --confirm
          done
          echo "Done"
        env:
          GH_TOKEN: $
