name: Cleanup yarn caches

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Cleanup caches
        uses: ./.github/actions/delete-actions-cache
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          filter: 'yarn- ${{ runner.os }}-yarn-'
