name: Daily scheduled jobs

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  main-cache-cleanup:
    name: Main cache cleanup
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Cleanup caches
        uses: ./.github/actions/delete-actions-cache
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          filter: '${{ runner.os }}-dependencies- ${{ runner.os }}-build-output-'
          exclude: ${{ github.sha }}
