name: Daily scheduled jobs

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  main-cache-cleanup:
    name: Main cache cleanup
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

      - name: Cleanup caches
        uses: ./.github/actions/delete-actions-cache
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          filter: '${{ runner.os }}-dependencies- ${{ runner.os }}-build-output-'
          exclude: ${{ github.sha }}
