name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  Linting:
    name: ESLint
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
        with:
          persist-credentials: false

      - name: Install Node.js v18
        uses: actions/setup-node@eeb10cff27034e7acf239c5d29f62154018672fd # tag=v3
        with:
          node-version: 18
          cache: yarn
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libcairo2-dev libjpeg-dev libpango1.0-dev libgif-dev librsvg2-dev
          yarn --immutable

      - name: Register Problem Matcher
        run: echo "::add-matcher::.github/problemMatchers/eslint.json"

      - name: Run ESLint
        run: yarn lint

  Building:
    name: TypeScript
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
        with:
          persist-credentials: false

      - name: Install Node.js v18
        uses: actions/setup-node@eeb10cff27034e7acf239c5d29f62154018672fd # tag=v3
        with:
          node-version: 18
          cache: yarn
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libcairo2-dev libjpeg-dev libpango1.0-dev libgif-dev librsvg2-dev
          yarn --immutable

      - name: Register Problem Matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"

      - name: Run TypeScript compiler
        run: yarn test
