name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  Dependencies:
    name: Install dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Install Volta
        uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4

      - name: Install dependencies
        uses: ./.github/actions/yarn-install

      - name: Cache dependencies
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: node_modules/
          key: ${{ runner.os }}-dependencies-${{ github.sha }}

  Linting:
    name: ESLint
    needs: Dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Install Volta
        uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4

      - name: Restore dependencies
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        id: restore-dependencies
        with:
          path: node_modules/
          key: ${{ runner.os }}-dependencies-${{ github.sha }}
          fail-on-cache-miss: true

      - name: Register Problem Matcher
        run: echo "::add-matcher::.github/problemMatchers/eslint.json"

      - name: Run ESLint
        run: yarn lint

  Building:
    name: TypeScript
    needs: Dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Install Volta
        uses: volta-cli/action@5c175f92dea6f48441c436471e6479dbc192e194 # v4

      - name: Restore dependencies
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        id: restore-dependencies
        with:
          path: node_modules/
          key: ${{ runner.os }}-dependencies-${{ github.sha }}
          fail-on-cache-miss: true

      - name: Register Problem Matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"

      - name: Run TypeScript compiler
        run: yarn build

      - name: Cache build output
        if: github.ref_name == 'main'
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: dist/
          key: ${{ runner.os }}-build-output-${{ github.sha }}

  SpellChecking:
    name: Typos
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Run Typos CI
        uses: crate-ci/typos@2d0ce569feab1f8752f1dde43cc2f2aa53236e06 # v1.40.0
