name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Linting:
    name: ESLint
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3
        with:
          persist-credentials: false

      - name: Install Node.js
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3
        with:
          node-version-file: 'package.json'
          cache: yarn

      - name: Install dependencies
        run: yarn --immutable

      - name: Register Problem Matcher
        run: echo "::add-matcher::.github/problemMatchers/eslint.json"

      - name: Run ESLint
        run: yarn lint

  Building:
    name: TypeScript
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3
        with:
          persist-credentials: false

      - name: Install Node.js
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3
        with:
          node-version-file: 'package.json'
          cache: yarn

      - name: Install dependencies
        run: yarn --immutable

      - name: Register Problem Matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"

      - name: Run TypeScript compiler
        run: yarn test
