name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  Dependencies:
    name: Install dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
        with:
          persist-credentials: false

      - name: Install Volta
        uses: volta-cli/action@d253558a6e356722728a10e9a469190de21a83ef # v4

      - name: Install dependencies
        uses: ./.github/actions/yarn-install

      - name: Cache dependencies
        uses: actions/cache/save@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3
        with:
          path: node_modules/
          key: ${{ runner.os }}-dependencies-${{ github.sha }}

  Linting:
    name: ESLint
    needs: Dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
        with:
          persist-credentials: false

      - name: Install Volta
        uses: volta-cli/action@d253558a6e356722728a10e9a469190de21a83ef # v4

      - name: Restore dependencies
        uses: actions/cache/restore@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3
        id: restore-dependencies
        with:
          path: node_modules/
          key: ${{ runner.os }}-dependencies-${{ github.sha }}
          fail-on-cache-miss: true

      - name: Register Problem Matcher
        run: echo "::add-matcher::.github/problemMatchers/eslint.json"

      - name: Run ESLint
        run: yarn lint

  Building:
    name: TypeScript
    needs: Dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
        with:
          persist-credentials: false

      - name: Install Volta
        uses: volta-cli/action@d253558a6e356722728a10e9a469190de21a83ef # v4

      - name: Restore dependencies
        uses: actions/cache/restore@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3
        id: restore-dependencies
        with:
          path: node_modules/
          key: ${{ runner.os }}-dependencies-${{ github.sha }}
          fail-on-cache-miss: true

      - name: Register Problem Matcher
        run: echo "::add-matcher::.github/problemMatchers/tsc.json"

      - name: Run TypeScript compiler
        run: yarn build

      - name: Cache build output
        if: github.ref_name == 'main'
        uses: actions/cache/save@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3
        with:
          path: dist/
          key: ${{ runner.os }}-build-output-${{ github.sha }}

  SpellChecking:
    name: Typos
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
        with:
          persist-credentials: false

      - name: Run Typos CI
        uses: crate-ci/typos@143cc59fab61e34b96188ba6745f902d7867bda0 # v1.16.1
