name: Unicode Emoji Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
    paths:
      - 'src/scripts/generateEmojiParser.ts'

env:
  NODE_ENV: production

jobs:
  unicode-emojis:
    name: Update unicode emojis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3

      - name: Install Node.js
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3
        with:
          node-version-file: 'package.json'
          cache: yarn

      - name: Install dependencies
        run: yarn --immutable --mode=skip-build

      - name: Build
        run: yarn build

      - name: Run script
        run: node dist/scripts/generateEmojiParser.js

      - name: Generate token
        uses: tibdex/github-app-token@021a2405c7f990db57f5eae5397423dcc554159c # tag=v1
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Create pull request
        uses: peter-evans/create-pull-request@331d02c7e2104af23ad5974d4d5cbc58a3e6dc77 # v4
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: 'feat: update unicode emojis'
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          branch: update-unicode-emojis
          title: 'feat: update unicode emojis'
          labels: automerge
