name: Unicode Emoji Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
    paths:
      - 'src/scripts/generateEmojiParser.ts'

env:
  NODE_ENV: production

jobs:
  unicode-emojis:
    name: Update unicode emojis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

      - name: Install Volta
        uses: volta-cli/action@25888009cd70dbe17a140f1c56d93f8c09f7bcef # v4

      - name: Restore dependencies
        uses: actions/cache/restore@4723a57e26efda3a62cbde1812113b730952852d # v3
        id: restore-dependencies
        with:
          path: node_modules/
          key: ${{ runner.os }}-dependencies-${{ github.sha }}

      - name: Install dependencies
        if: steps.restore-dependencies.outputs.cache-hit != 'true'
        uses: ./.github/actions/yarn-install

      - name: Restore build output
        id: restore-build-output
        uses: actions/cache/restore@4723a57e26efda3a62cbde1812113b730952852d # v3
        with:
          path: dist/
          key: ${{ runner.os }}-build-output-${{ github.sha }}

      - name: Build
        if: steps.restore-build-output.outputs.cache-hit != 'true'
        run: yarn build

      - name: Run script
        run: node dist/scripts/generateEmojiParser.js

      - name: Generate token
        uses: tibdex/github-app-token@021a2405c7f990db57f5eae5397423dcc554159c # v1
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Create pull request
        uses: peter-evans/create-pull-request@2b011faafdcbc9ceb11414d64d0573f37c774b04 # v4
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: 'feat: update unicode emojis'
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          branch: update-unicode-emojis
          title: 'feat: update unicode emojis'
          labels: automerge
